*, *:before, *:after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background: linear-gradient(#0ee, black);
	background-attachment: fixed;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	padding: 1rem;
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

a {
	color: yellow;
}

a:visited {
	color: #ee0;
}

h1, h2 {
	margin: 1rem 0;
}

h3 {
	margin-bottom: 0.5rem;
}

article {
	margin: 1rem 0;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
}

ul, ol {
	list-style-position: inside;
}
